*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    width: 360px;
    height: 40px;
}
#add{
    width: 120px;
    height: 40px;
}
#cross{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
ol{
    font-size: 20px;
}
.todo{
    text-decoration: line-through;
}